<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <description>Use this pipeline for build and test of the local projects.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.62">
    <script>pipeline {
    agent any
    
    stages 
    {
        stage(&apos;Start&apos;) {
            steps {
                sh &apos;rm -fr $NEST_FOLDER_PUBLISH&apos;
		        sh &apos;rm -fr /var/app/publish/reports&apos;
            }
        }

        stage(&apos;Restore&apos;) {
            steps {
		        sh &apos;nester deployment restore_all&apos;
            }
        }
        
        stage(&apos;Build&apos;) {
            steps {
                sh &apos;nester deployment release_clean_all&apos;
                sh &apos;nester deployment release_build_all&apos;
            }
        }

        stage(&apos;Test&apos;) {
            steps {
                sh &apos;nester deployment release_test_all&apos;
            }
        }
        
        stage(&apos;Report&apos;) {
            steps {
                sh &apos;nester deployment release_coverage_report&apos;
                publishHTML([allowMissing: false, alwaysLinkToLastBuild: false, keepAll: false, reportDir: &apos;/var/app/publish/reports&apos;, reportFiles: &apos;index.htm&apos;, reportName: &apos;Code Coverage Report&apos;, reportTitles: &apos;&apos;])
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <authToken>nesty</authToken>
  <disabled>false</disabled>
</flow-definition>